body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
}

video {
  width: 100%;
  display: block;
  position: static !important;
}

#player-container {
  position: relative;
  display: block;
  width: 100%;
  background: black;
  overflow: hidden;
  max-width: 75vw;
}

#video-slot,
#video-slot video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

#player-container:fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#player-container:fullscreen #video-slot {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#player-container:fullscreen #controls {
  position: absolute;
  bottom: 0;
  z-index: 2147483647;
}

#player-container::backdrop {
  background-color: black;
}

#controls {
  font-family:
    ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 50px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

#controls:hover {
  opacity: 1;
}

.user-active #controls {
  opacity: 1;
  pointer-events: auto;
}

.user-inactive #video-slot {
  cursor: none !important;
}

#progress-container {
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  position: relative;
  transition: height 0.1s;
  border-radius: 9999px;
}

#progress-container:hover {
  height: 8px;
}

#progress-bar {
  height: 100%;
  background: #27b4f5;
  width: 0%;
  border-radius: 9999px;
}

#preview-box {
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%);
  width: 160px;
  border: 2px solid white;
  background: black;
  display: none;
  pointer-events: none;
  flex-direction: column;
}

#preview-video {
  width: 100%;
  display: block;
}

#preview-time {
  display: block;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 2px;
}

#time-left {
  padding: 5px 10px;
  color: white;
  font-size: 14px;
}

.separator,
.total-time {
  color: #c2c2c2;
}
